.button{
  border: 1px solid grey;
  width: '100%';
  border-radius: '2px' ;
  padding: '2px 1px';
  cursor: 'pointer'
}

.correct{
  background-color: #2ECC71;
  color: white;
}
.wrong{
  background-color: #FD3832;
  color: white;
}
